<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="/style.css" />
        <title>Anton Website</title>
    </head>
    <body>
        <nav>
            <h4>Node MySQL</h4>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
            </ul>
        </nav>
        <div class="container mt-4">
            <div class="p-5 mb-4 bg-body-tertiary rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold">Main content</h1>
                    <p class="col-md-8 fs-4">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore asperiores
                        impedit dolores suscipit consectetur soluta ipsum inventore vel atque neque
                        dicta optio fuga, eveniet natus quam nemo sunt similique ut, laboriosam
                        corporis porro dignissimos minus. Quisquam corporis dolores quod iusto? In
                        possimus quis voluptatibus at doloribus illum accusamus, consectetur nisi?
                    </p>
                </div>
            </div>
        </div>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"
        ></script>
    </body>

</html>